.red-btn{
	background-color: red;
	color: #bbb;
}
/* .show{ */
	/* opacity: 1; */
	/* transition: all 1s linear; */
/* } */
/* .hide{ */
	/* opacity: 0; */
	/* transition: all 1s linear; */
/* } */
 .fade-enter,.fade-appear{
 	opacity: 0;
 }
 .fade-enter-active,.fade-appear-active{
 	opacity: 1;
 	color: red;
 	transition: opacity 1s linear;
 }
 .fade-enter-done{
 	opacity: 1;
 	color: red;
 }
 .fade-exit{
 	opacity: 1;
 	color: red;
 }
 .fade-exit-active{
 	opacity: 0;
 	transition: opacity 1s linear;
 }
 .fade-exit-done{
 	opacity: 0;
 }